#	Page d'information 

#	show : Events + How to get in --> redir bouton (ou pas si fuck css)

#	Boutons : "Localisation", "Join"


<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Actualités - PopUpForum</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
  <h2>Dernières actualités</h2>
  <img src="../assets/images/news.jpg" alt="Actualités" width="350">

  <input type="text" placeholder="Rechercher un article...">
  <button>Rechercher</button>

  <nav>
    <a href="../index.html">Accueil</a> |
    <a href="Forum.html">Forum</a>
  </nav>
</body>
</html>

